.contact {
  padding: 6rem 0;
  background-color: var(
    --color-secondary
  ); /* Marinho para contraste forte no final */
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.title {
  font-family: var(--font-primary);
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.description {
  font-family: var(--font-primary);
  font-size: 1.1rem;
  opacity: 0.8;
  margin-bottom: 3rem;
}

.contactList {
  display: grid;
  gap: 2rem;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.iconBox {
  background-color: var(--color-primary); /* Laranja #eb722d */
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

.contactItem h4 {
  font-family: var(--font-primary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.2rem;
}

.contactItem p {
  font-family: var(--font-primary);
  opacity: 0.9;
}

/* Formulário */
.formCard {
  background-color: white;
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.formTitle {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.form {
  display: grid;
  gap: 1rem;
}

.input,
.textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-size: 1rem;
}

.textarea {
  height: 120px;
  resize: none;
}

.btnSubmit {
  background-color: var(--color-primary);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-family: var(--font-primary);
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.btnSubmit:hover {
  background-color: var(--color-accent);
}

@media (max-width: 968px) {
  .container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .formCard {
    padding: 2rem;
  }
}
