:root {
  --color-text: #2d2d2d;
  --color-primary: #ffad01;
  --color-secondary: #1a252f;
  --color-dark: #121212;
  --color-bg: #ffffff;
  --color-accent: #f39c12;

  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
}
